<header class="header" id="header">
  <nav class="container nav">
    <a href="./#home" class="logo">
      TIGRA<span>DRIVEX</span>
    </a>

    <ul class="nav__menu">
      <li><a href="./#home" class="nav__link">Home</a></li>
      <li><a href="./#corsi" class="nav__link">Corsi</a></li>
      <li><a href="./#innovazione" class="nav__link">Innovazione</a></li>
      <li><a href="./#metodologia" class="nav__link">Metodologia</a></li>
      <li><a href="./#blog" class="nav__link">Blog</a></li>
    </ul>

    <a href="./#contact" class="btn btn--primary">
      Contattaci
      <i data-lucide="arrow-up-right"></i>
    </a>

    <button class="nav__toggle" aria-label="Toggle menu">
      <i data-lucide="menu"></i>
    </button>
  </nav>
</header>